Ce fut un grand plaisir de participer à la piscine de 42 Lyon ARA, dommage que cela soit déjà fini 🙁.

Je tiens par ce message à remercier l'ensemble des équipes (pédago, gestion du bâtiment, entretien et campus) mais aussi les équipes de Paris qui ont lancé ce projet un peu fou en 2013.

Difficile d'écrire un message de fin à ce mois de piscine, car il y a beaucoup à dire, donc je vais me contenter de ceci :

...o...........o....
.........o...o......
.xxxxxxxxxxx........
.xxxxxxxxxxx..o..o..
oxxxxxxxxxxx........
.xxxxxxxxxxxo.......
.xxxxxxxxxxx........
.xxxxxxxxxxx........
oxxxxxxxxxxx........
.xxxxxxxxxxx........
oxxxxxxxxxxx........
.xxxxxxxxxxx........
.xxxxxxxxxxx........
....................
....................
....................
........o...........
....................
................o...
....................
